section{
    /* border: 10px solid red; */
    height: 500px;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end;
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */
    align-items:  center;
    /* align-items: flex-end;
    align-items: flex-start; */
    width: 900px;
    background-color: yellow;
}
div{
    background-color: red;
    height: 150px;
    width: 150px;
}